<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WordWizard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .navbar-custom {
            background-color: #008080   ; /* Dark background color */
        }
        .navbar-brand img {
            height: 40px; /* Adjust as needed */
        }
        .navbar-nav .nav-link {
            color: #ffffff !important; /* White text color */
        }
        .navbar-toggler-icon {
            background-image: url('https://www.canva.com/design/DAGF9Xs0Gjc/DnSYKdDh3_85wMPX-fbjkA/view?utm_content=DAGF9Xs0Gjc&utm_campaign=designshare&utm_medium=link&utm_source=editor');
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand text-white fs-4" href="#" style="text-decoration: none">
                WordWizard
<!--                <img th:src="@{/img/logo.png}" alt="Brand Logo">-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">


    <div class="row">


<!--        <div class="col-12 " style="background-color: black;">-->
<!--            <div class="row">-->
<!--                <div class="col-12 col-lg-6 col-md-12">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 text-primary text-warning logo">-->
<!--                            <a style="text-decoration: none;" >WordWizard</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="offset-lg-3 offset-md-0 col-md-6 col-lg-3 col-12 offset-0 text-white mt-lg-3 mt-md-3 ">-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
    </div>
    <!--create button for add new word-->
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Button trigger modal -->
<!--            data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->
            <button type="button" class="btn btn-primary" onclick="openModal1()">
                Add new Keyword
            </button>


        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="accordion-item" th:each="englishDetails:${english}">
                    <div class="row">
                        <!--    cards-->
                        <div class="card mt-2 col-9 offset-1 justify-content-center"  th:onclick="addedWordDescriptionModal('[[${englishDetails.id}]]')">
                            <div class="card-body" th:text="${englishDetails.word}">

                            </div>
                            <span hidden="hidden" id="wordId" th:text="${englishDetails.id}"></span>


                        </div>
                        <!--    cards-->
                    </div>

                </div>
            </div>


        </div>
    </div>


    </div>
    <!-- add accordition -->
    <!--create model for add new english word-->
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add English Word</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="englishWordInput" class="form-label">Enter Keyword</label>
                        <input type="text" class="form-control" id="englishWordInput" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal1()">Close</button>
                    <button type="button" class="btn btn-primary" id="generate_button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!--create model for add new english word-->
<!--//////////////////////////////////////////////////////////////////////-->
    <!--create word response model for view response from gemini ai-->
    <!-- Modal -->
    <div class="modal fade" id="responseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="responseModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="mb-3">
                          <label id="wordLabel" class="form-label"></label>
                          <textarea  style="height: 450px;" class="form-control" id="responseTextArea" rows="3"></textarea>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button"  class="btn btn-primary" onclick="processResponse()" >Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <!-- modal close -->
    <!--create word response model for view response from gemini ai-->
<!--view added word description modal-->
<div class="modal fade" id="addedWordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addedWordModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3">
                        <label id="addedWordLabel"  class="form-label" ></label>
                        <textarea  style="height: 450px;" class="form-control" id="addedWordDescriptionTextArea" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" onclick="updateWordDescription()">Update</button>
                <button onclick="deleteWord()"  type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--view added word description modal-->

</div>
<script type="importmap">
      {
        "imports": {
          "@google/generative-ai": "https://esm.run/@google/generative-ai"
        }
      }
    </script>
<script type="module">
    import { GoogleGenerativeAI } from "@google/generative-ai";

    // Fetch your API_KEY
    const API_KEY = "AIzaSyAIVPmLP1mbTBV1QovQN6gRizYQy_orDUI";

    // Access your API key (see "Set up your API key" above)
    const genAI = new GoogleGenerativeAI(API_KEY);

    // ...

    const model = genAI.getGenerativeModel({ model: "gemini-1.0-pro"});

    // ...
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="#" th:src="@{/js/script.js}"></script>
<script src="#"  th:type="module" th:src="@{/js/gemini.js}"></script>

</body>
</html>
